.wrapper {
   padding: 70px 80px 50px;
   top:50%;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   margin: auto;
   max-width: 40vw;
   background-color: white;
   box-shadow: 0 20px 40px -10px black;
   position: fixed;
   padding: 20px;
}